<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/home/style.css" rel="stylesheet">
  <title>개사고특별자치구</title>
</head>
<body>
  <div class="logo">
    <img src="https://raw.githubusercontent.com/houar1223/gaesago/refs/heads/master/app/views/home/images/GAESAGOTHEROCK.png?token=GHSAT0AAAAAACWLFWCSXC6UKT2NL5IFSUO2ZXMB3CA" 
    alt="개사고특별자치구 로고" width="600px" height="600px">
  </div>
  <div class="header">
    <h1><a href="/">GAESAGO</a></h1>
    <div class="nav">
      <ul>
        <li><a href="/login">SIGN IN</a></li>
        <li><a href="/register">SIGN UP</a></li>
      </ul>
    </div>
  </div>
  <div class="box">
  </div>
  <div class="wrap">
    
    <!-- <p class="sm-text">개사고특별자치구입니다</p>
    <p class="author">제작자: 곽민환</p>
  </div> -->
</body>
</html>