<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/home/style.css" rel="stylesheet">
  <title>개사고특별자치구</title>
</head>
<body>
  <div class="header">
    <h1><a href="/">COMMUNITY</a></h1>
    <div class="nav">
      <ul>
        <li><a href="/login">SIGN IN</a></li>
        <li><a href="/register">SIGN UP</a></li>
        <li><a href="/map">MAP</a></li>
      </ul>
    </div>
  </div>
  <div class="report_button">
    <h1><a href="/report">제보하기</a></h1>
  </div>
</body>
</html>